<center><h2>REGISTER</h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <center><%= f.label :email %><br /></center>
    <center><%= f.email_field :email, autofocus: true %></center>
  </div>

  <div class="field">
    <center><%= f.label :password %></center>
    <center><% if @minimum_password_length %></center>
    <center><em>(<%= @minimum_password_length %> characters minimum)</em></center>
    <% end %><br />
    <center><%= f.password_field :password, autocomplete: "off" %></center>
  </div>

  <div class="field">
    <center><%= f.label :password_confirmation %><br /></center>
    <center><%= f.password_field :password_confirmation, autocomplete: "off" %></center>
  </div>

  <div class="actions">
   <center><%= f.submit "Sign up" %></center>
  </div>
<% end %>

<center><%= render "devise/shared/links" %></center>
